
# directories (by name)

# directories (by pattern)

# files (by name)

programs/cc95/main

# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.ilk
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.sdf
*.sbr
*.scc
*.so
*.suo
*.swp
*.vcproj*.user
*.vcxproj*.user

